<tr class="bg-white border-b">
  <td class="px-6 py-4">{{ index + 1 }}</td>
  <td class="px-6 py-4">{{ bookData.title }}</td>
  <td class="px-6 py-4">{{ bookData.author }}</td>
  <td class="px-6 py-4">{{ bookData.public_year }}</td>
  <td class="px-6 py-4">{{ bookData.description }}</td>
  <td class="px-6 py-4">{{ bookData.thumbnail }}</td>
  <td class="flex flex-row justify-center gap-5">
    <button
      class="px-4 py-2 bg-yellow-500 hover:bg-yellow-600 transition text-white rounded-lg"
      [routerLink]="['/admin/edit', bookData._id]"
    >
      Edit
    </button>
    <button
      class="px-4 py-2 bg-red-500 hover:bg-red-600 transition text-white rounded-lg"
      (click)="onDelete()"
    >
      Delete
    </button>
  </td>
</tr>

