<table class="w-full text-sm text-center text-gray-500">
  <thead class="text-xs uppercase text-gray-700 bg-gray-50">
    <tr>
      <ng-container *ngFor="let item of dataHeader">
        <th class="px-6 py-3">{{ item.name }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="paginates$ | async as books; else noData">
      <ng-container *ngFor="let book of books; index as i">
        <table-item
          [bookData]="book"
          [index]="i + (currentPage - 1) * itemPerPage"
          (onDel)="handleDelete($event)"
        />
      </ng-container>
    </ng-container>
  </tbody>
</table>
<div>
  <button (click)="pageChange(currentPage - 1)" [disabled]="currentPage === 1">
    Previous
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button
    (click)="pageChange(currentPage + 1)"
    [disabled]="currentPage * itemPerPage >= totalItems"
  >
    Next
  </button>
</div>
<ng-template #noData>
  <tr>
    <td>No data</td>
  </tr>
</ng-template>
